# do not check in keys
fire.js
# build files
build/
build/*
# external packages
node_modules/
node_modules/*
# non-project files
*.DS_Store
*.sublime-project
*.sublime-workspace
# firebase debug logs
*.log
