# do not check in keys
fire.js
# build files
build/
build/*
# external packages
node_modules/
node_modules/*
# functions files
functions/node_modules/
functions/node_modules/*
functions/lib/
functions/lib/*
functions/etc/
functions/etc/*
# non-project files
*.DS_Store
*.sublime-project
*.sublime-workspace
# firebase debug logs
*.log
*.firebase/
functions/.runtimeconfig.json
