body {
  margin: 1em;
  padding: 1em;
  font-family: sans-serif;
}

/* Custom class for the home page cards */
.minHeight-50px {
	min-height: 50px
}

.nav-sm.form-group {
	width: 20em;
	margin: 0 1em 0 1em;
}