body {
  margin: 1em;
  padding: 1em;
  font-family: sans-serif;
}

div.App {
	margin-top: 1em;
}

div.App form {
	max-width: 700px;
}

.front-page-card {
	min-height: 50px
}

.app-date-form .nav-sm.form-group {
	max-width: 20em;
    display: auto;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-flow: auto;
    flex-flow: auto;
    margin: 0 0.5em 0 0;
}

.app-date-form {
	max-width: 30em;
	margin-right: 1em;
}

.signin-nav-form {
	margin: 1em;
	min-width: 250px;
}

.signin-form-info {
	margin: 1em 0;
}

.required-text {
	color: red;
}


.form-check {
  margin-top: 1em;
  padding-left: 2em;
}

.form-check-label {
  margin-top: 0;
  line-height: 1.5em;
}
.form-check-input {
  margin-top: 0;
  width: 1.5em;
  height: 1.5em;
  margin-left: -2em;
}
